<body>
  <nav class="navbar is-fixed-top labs-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item labs-nav-logo" href="./index.html">
      <img src="https://raw.githubusercontent.com/801labs/media/master/Logos/801Labs_black.png">
    </a>

    <a role="button" class="navbar-burger burger labs-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{- partial "menus/main-menu.html" . -}}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark">
            <span class="icon">
              <i class="fab fa-paypal"></i>
            </span>
            <span>Donate</span>
          </a>
          <a class="button is-black is-outlined">
            <span class="icon">
              <i class="fab fa-slack"></i>
            </span>
            <span>Join Slack</span>
          </a>
        </div>
      </div>

      <!-- Be Social -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="./contact" class="navbar-item">Be Social</a>
        <div class="navbar-dropdown is-right labs-mobile-dropdown">
          {{- partial "menus/socials-menu.html" . -}}
        </div>
      </div>
    </div>
  </div>
  </nav>
